@{
    ViewBag.Title = "Home";
}

<style>
    .bigback {
        background: url('../../Content/Images/Collage.jpeg');
        min-height: 200px;
        height: 600px;
        max-width: 100%;
        display: block;
        background-size: contain;
        background-repeat: repeat;
    }

</style>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-9">
            <h1 class="glow tlt">
                <ul class="texts">
                    <li>Soham turns ONE!</li>
                </ul>
            </h1>
            <h4 class="tlt1">
                <ul class="texts">
                    <li>And to celebrate we have decided to throw a party :)</li>
                    <li>Click on the Location link to find out where it's happening</li>
                    <li>And then click the RSVP link to tell us if you will be joining in on the fun! :)</li>
                </ul>
            </h4>
        </div>
        <div style="margin-top:2%;" class="col-xs-12 col-sm-8 col-md-3">
            <a class="btn btn-success" id="locationLink" href="#location">LOCATION</a>
            <a class="btn btn-success" id="rsvpLink" href="#rsvp">RSVP</a>
        </div>
    </div>
    <div class="bigback"></div>
    <div id="location" style="margin-top:auto;">
        <fieldset>
            <legend>Location</legend>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <h4 class="tlt2">
                        <ul class="texts">
                            <li><b>It's all happening on September12, 2015 at 12:00</b></li>
                            <li><b>Click on the red marker below to find out where :)</b></li>
                        </ul>
                    </h4>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div id="mapCanvas" style="width: auto; height: 450px"></div>
                </div>
            </div>
        </fieldset>
    </div>
    <div id="rsvp" style="margin-top:auto;">
        <fieldset>
            <legend>RSVP</legend>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <form class="form-horizontal" id="rsvpForm" name="rsvpForm" action="/Home/SendRsvp" method="post">
                        <div class="form-group">
                            <span for="familyName" class="col-md-3 control-label">Family Name</span>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="familyName" name="familyName" placeholder="Family Name">
                            </div>
                            <div class="col-md-4">
                                <span id="familyNameRequired" class="alert alert-danger">Please enter family name</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <span for="attendance" class="col-md-3 control-label">Attending</span>
                            <div class="col-md-3">
                                <input class="col-md-3" type="checkbox" data-on-color="info" data-off-color="danger" data-on-text="Yes" data-off-text="No" data-animate="true" id="attendance" name="attendance" checked>
                            </div>
                        </div>
                        <div class="form-group" id="mealDiv">
                            <span for="mealPreference" class="col-md-3 control-label">Vegetarian</span>
                            <div class="col-md-3">
                                <input class="col-md-3" type="checkbox" data-on-color="info" data-off-color="danger" data-on-text="Yes" data-off-text="No" data-animate="true" id="mealPreference" name="mealPreference" checked>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-9 col-md-5 pull-right">
                    <button type="button" id="sendRsvp" class="btn btn-success">Send</button>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<script>
    function initialize() {
        var mapOptions = {
            center: new google.maps.LatLng(51.529871, -1.668451),
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.SATELLITE
        };

        var map = new google.maps.Map(document.getElementById("mapCanvas"),
          mapOptions);

        var request = {
            placeId: 'ChIJlXCS7kxOcUgRSPDVxU-ZVbo'
        };

        var infowindow = new google.maps.InfoWindow();
        var service = new google.maps.places.PlacesService(map);

        service.getDetails(request, function (place, status) {
            if (status == google.maps.places.PlacesServiceStatus.OK) {
                var marker = new google.maps.Marker({
                    map: map,
                    position: place.geometry.location
                });
                google.maps.event.addListener(marker, 'click', function () {
                    var displayContent = place.name + '<br/>' + place.formatted_address + '<br/> <a href="' + place.website + '">' + place.website + '</a>' 
                    infowindow.setContent(displayContent);
                    infowindow.open(map, this);
                });
            }
        });
    }

    $(document).ready(function () {
        $('.tlt1').hide();
        $('#location').hide();
        $('#rsvp').hide();
        $('.tlt').textillate();
        
        setTimeout(function () {
            $('.tlt1').show();
            $('.tlt1').textillate();
        }, 3000);

        $('#locationLink').click(function (event) {
            $('#location').show();
            $('.tlt2').textillate();
            initialize();
        });

        $('#rsvpLink').click(function () {
            $('#rsvp').show();
        });

        $.fn.bootstrapSwitch.defaults.size = 'small';
        $("[name='attendance']").bootstrapSwitch();
        $("[name='mealPreference']").bootstrapSwitch();

        $('#attendance').on('switchChange.bootstrapSwitch', function () {
            $('#mealDiv').toggle($(this).bootstrapSwitch('state'))
        });

        $('#familyNameRequired').hide();

        $('#familyName').on('input propertychange', function () {
            $('#familyNameRequired').toggle($(this).val().trim().length <= 0);
        });

        $("#sendRsvp").click(function () {
            if ($('#familyName').val().trim() != '') {
                $('#familyNameRequired').hide();
                var data = {
                    FamilyName: $('#familyName').val(),
                    Attending: $('#attendance').bootstrapSwitch('state'),
                    Vegetarian: $('#mealPreference').bootstrapSwitch('state'),
                }

                $('html').spin();

                toastr.options = {
                    "positionClass": "toast-bottom-full-width",
                };

                $.post('/Home/SendRsvp', data)
                    .done(function (data) {
                        if (data && data.messageSent) {
                            toastr.success('Thank you for your RSVP!');
                        }
                        $('html').spin(false);
                    }).error(function (jqXHR, textStatus, errorThrown) {
                        toastr.error('Apologies! Looks like we failed to send your RSVP. Please retry or contact Shreyas on 07818565674.')
                        $('html').spin(false);
                    });
            }
            else {
                $('#familyNameRequired').show();
            }
        });

        //var $loading = $('#cover').hide();
        //$(document)
        //  .ajaxStart(function () {
        //      $loading.show();
        //  })
        //  .ajaxStop(function () {
        //      $loading.hide();
        //  });
    });
</script>
