<div class="modal fade locationModal" role="dialog" aria-labelledby="locationModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">LOCATION</h3>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="tlt2">
                                <ul class="texts">
                                    <li><b>It's all happening on 12 September 2015 12:00</b></li>
                                    <li><b>Click on the red marker below to find out where :)</b></li>
                                </ul>
                            </h4>
                            
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div id="mapCanvas" style="width: auto; height: 400px"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
